<body>
  <!-- Navbar begin -->
  <nav class="bg-transparent border-gray-200 px-2 sm:px-4 py-5">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a href="#" class="flex">
        <span
          class="text-primary self-center text-2xl font-bold whitespace-nowrap"
          >Issue Tracker</span
        >
      </a>
      <a
        type="button"
        href="/users/logout"
        class="text-primary border border-primary hover:text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 m-2 text-center inline-flex items-center"
      >
        Log out
      </a>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Filtering Begin  -->
  <div class="flex justify-between mx-4 my-4">
    <div class="flex">
      <select
        id="sort"
        onchange="filtering()"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 p-2.5 m-2"
      >
        <option value="1" checked>Sort: Newest</option>
        <option value="0">Sort: Latest</option>
      </select>
      <div date-rangepicker datepicker-buttons class="flex items-center m-2">
        <div class="relative">
          <div
            class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
          >
            <svg
              class="w-5 h-5 text-gray-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          <input
            name="start"
            type="text"
            id="start"
            onfocusout="filtering()"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5"
            placeholder="Start"
          />
        </div>
        <span class="mx-4 text-gray-500">to</span>
        <div class="relative">
          <div
            class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
          >
            <svg
              class="w-5 h-5 text-gray-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          <input
            name="end"
            type="text"
            id="end"
            onfocusout="filtering()"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5"
            placeholder="End"
          />
        </div>
      </div>
      <div class="relative m-2">
        <div
          class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
        >
          <svg
            class="w-5 h-5 text-gray-500"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            ></path>
          </svg>
        </div>
        <input
          oninput="filtering()"
          type="text"
          id="search-tag"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5"
          placeholder="Tag"
        />
      </div>
    </div>
    <a
      type="button"
      href="/issue/"
      class="text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 m-2 text-center inline-flex items-center"
    >
      Add Issue
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 6v6m0 0v6m0-6h6m-6 0H6"
        ></path>
      </svg>
    </a>
  </div>
  <!-- Filtering End -->

  <!-- Content Begin -->
  <div class="flex flex-col mx-4">
    <div class="overflow-x-auto shadow-md sm:rounded-lg">
      <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden">
          <table class="min-w-full divide-y divide-gray-200 table-fixed">
            <thead class="bg-gray-100">
              <tr>
                <th
                  scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
                >
                  Judul
                </th>
                <th
                  scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
                >
                  Deskripsi
                </th>
                <th
                  scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-center text-gray-700 uppercase"
                >
                  Tag
                </th>
                <th
                  scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-center text-gray-700 uppercase"
                >
                  Aksi
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200" id="data_content">
              <% issues.forEach(issue=> { %>
              <tr class="hover:bg-gray-100">
                <td
                  class="py-3 px-6 text-sm font-medium text-gray-900 whitespace-nowrap"
                >
                  <%= issue.title %>
                </td>
                <td
                  class="py-3 px-6 text-sm font-medium text-gray-500 whitespace-nowrap"
                >
                  <button
                    type="button"
                    class="text-white text-sm bg-primary hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center mr-2"
                    data-modal-toggle="desc-modal-<%= issue._id %>"
                  >
                    Read More
                  </button>
                </td>
                <td
                  class="py-3 px-6 text-sm font-medium text-gray-900 whitespace-nowrap text-center"
                >
                  <%= issue.tag %>
                </td>
                <td
                  class="py-3 px-6 text-sm font-medium text-right whitespace-nowrap flex justify-center"
                >
                  <a
                    type="button"
                    href="issue//delete/<%= issue._id %>"
                    class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2"
                  >
                    <svg
                      class="w-4 h-4"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                      ></path>
                    </svg>
                  </a>
                  <button
                    type="button"
                    class="text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2"
                    data-modal-toggle="edit-modal-<%= issue._id %>"
                  >
                    <svg
                      class="w-4 h-4"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                      ></path>
                    </svg>
                  </button>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="modal">
      <% issues.forEach(issue=> { %>
      <div
        id="edit-modal-${i}"
        aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center h-modal md:h-full md:inset-0"
      >
        <div class="relative px-4 w-full max-w-3xl h-full md:h-auto">
          <!-- Modal content -->
          <div
            class="p-4 bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8"
          >
            <form class="space-y-4" action="/issue/edit/<%= issue._id %>">
              <div class="div">
                <h3 class="text-xl font-bold text-primary">Form</h3>
                <p class="text-sm text-primary">Isi yang ada dibawah ini</p>
              </div>
              <div>
                <label
                  for="title"
                  class="block mb-2 text-sm font-bold text-primary"
                  >Judul</label
                >
                <input
                  type="text"
                  name="title"
                  id="title"
                  class="font-medium bg-gray-50 border border-gray-300 text-primary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Masukkan judul"
                  value="<%= issue.title %>"
                  required
                />
              </div>
              <div>
                <label
                  for="description"
                  class="block mb-2 text-sm font-bold text-primary"
                  >Deskripsi</label
                >
                <textarea
                  type="text"
                  name="description"
                  id="deskripsi"
                  class="font-medium bg-gray-50 border border-gray-300 text-primary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Masukkan deskripsi"
                  required
                >
<%= issue.description %></textarea
                >
              </div>
              <div>
                <label
                  for="tag"
                  class="block mb-2 text-sm font-bold text-primary"
                  >Tag</label
                >
                <input
                  type="text"
                  name="tag"
                  id="tag"
                  class="font-medium bg-gray-50 border border-gray-300 text-primary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Masukkan tag"
                  value="<%= issue.tag %>"
                  required
                />
              </div>
              <div class="flex justify-center items-center">
                <button
                  type="submit"
                  class="w-4/12 mt-3 text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                  data-modal-toggle="edit-modal-<%= issue._id %>"
                >
                  Simpan
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div
        id="desc-modal-<%= issue._id %>"
        aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center h-modal md:h-full md:inset-0"
      >
        <div class="relative px-4 w-full max-w-3xl h-full md:h-auto">
          <!-- Modal content -->
          <div
            class="p-4 bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8"
          >
            <div class="div">
              <h3 class="text-xl font-bold text-primary">
                Deskripsi >> Read More
              </h3>
              <p class="text-sm text-primary">Penjelasan deskripsi</p>
            </div>
            <div>
              <textarea
                type="text"
                name="description"
                id="deskripsi"
                class="font-medium bg-primary border text-white border-gray-300 text-primary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Masukkan deskripsi"
                rows="4"
                required
                disabled
                readonly
              >
<%= issue.description %></textarea
              >
            </div>
            <div class="flex justify-center items-center">
              <button
                class="w-4/12 mt-3 text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                data-modal-toggle="desc-modal-<%= issue._id %>"
              >
                Back
              </button>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  <!-- Content End -->

  <!-- Js -->
  <!-- <script src="js/dashboard.js"></script> -->
</body>
